/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v44-latin-regular.woff2") format("woff2");
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v44-latin-700.woff2") format("woff2");
}
/* merriweather-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/merriweather-v33-latin-600.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}
:root {
  --gelos-gold: #ddab5e;
  --gelos-bronze: #9f8463;
  --gelos-charcoal: #424754;
  --gelos-blue: #057a99;
  --gelos-gold-shade: #d08b1f;
  --gelos-gold-tint: #eed5ad;
  --gelos-blue-tint: #94b2c0;
  --gelos-text: #2b3336;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family:
    "Open Sans", Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  min-width: 393px;
}
header {
  padding: 0.5rem 2rem;
  background-color: white;
  z-index: 9999;
}
main {
  margin: 0 auto;
}

li {
  list-style: none;
}
a {
  color: var(--gelos-text);
  text-decoration: none;
}
h1,
h2,
h3,
h5 {
  margin: 0;
  margin-bottom: 1.5rem;
}
h2,
h3 {
  color: var(--gelos-blue);
}
h1,
h2 {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}
h2 {
  font-size: 2rem;
}
h3,
label {
  font-weight: 600;
}
h4 {
  font-weight: 600;
  margin-bottom: 0;
}
p {
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.navbar {
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  max-width: 15rem;
}
.logo-container img {
  width: 100%;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.nav-branding {
  font-size: 2rem;
}
.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: var(--gelos-blue);
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--gelos-text);
}
.current-page {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--gelos-blue);
}
.gelos-section {
  padding: 2rem;
}

/* Glide slides */
.glide {
  width: 80%;
  margin: 0 auto;
  border: 1px solid var(--gelos-blue-tint);
  padding: 2rem;
}
.glide__slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.glide__slide img {
  width: 100%;
  display: block;
  height: auto;
  display: cover;
  min-width: 320px;
}
.slide-image-container {
  overflow: clip;
}
.ac .ac-header .ac-trigger {
  color: var(--gelos-blue);
}

.accordion-container {
  max-width: 40rem;
  margin: 0 auto;
}
.accordion-border {
  border: 1px solid var(--gelos-blue-tint);
  padding: 2rem;
}
.company-values-content-container {
  border: 1px solid var(--gelos-blue-tint);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}
.contact-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border: 1px solid var(--gelos-blue-tint);
  padding: 2rem;
}
input,
textarea {
  padding: 0.5rem;
  background-color: rgb(236, 236, 236);
  border: 1px solid lightgrey;
}
label {
  margin-bottom: 0.5rem;
}
#message {
  resize: none;
}
#submit {
  /* display: block;
  margin-left: auto; */
  width: 100%;
  margin-top: 0.5rem;
  border: none;
  padding: 0.5rem;
  background-color: var(--gelos-blue);
  color: white;
}
#submit:hover {
  background-color: var(--gelos-charcoal);
}
form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
/* .contact-us p {
  margin-bottom: 3rem;
} */
.contact-us h4 {
  margin-top: 3rem;
}
.address-container {
  border: 0.5px solid var(--gelos-blue-tint);
  padding: 1rem 2rem;
  background-color: white;
}
.contactform-container {
  border: 0.5px solid var(--gelos-blue-tint);
  padding: 1rem 2rem;
  background-color: white;
}

footer {
  margin-top: auto;
  height: 5rem;
  background-color: var(--gelos-charcoal);
  display: flex;
  padding-left: 2rem;
  align-items: center;
}
.copyright-text {
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
}

@media screen and (max-width: 1000px) {
  .glide__slide {
    display: grid;
    grid-template-columns: 1fr;
  }
  .glide__arrow {
    top: 50%;
  }
}
@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 3rem;
    gap: 0.5;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
    padding-top: 4rem;
    padding-bottom: 2rem;
    box-shadow: 5px 10px 5px #42475488;
  }
  .nav-item {
    margin: 0.5rem m0;
  }
  .nav-menu.active {
    left: 0;
  }
  .company-values-content-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .contact-details-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

/* BANNER */
.logo__text {
  span {
    display: block;
  }
}
.content > div {
  padding-bottom: 2rem;
}
.hero,
.introduction {
  position: relative;
}
.hero__background {
  width: 100%;
  height: 42rem;
  position: absolute;
  background: linear-gradient(
    359.85deg,
    #057a99 45%,
    #128aac 95%,
    #2caccf 120%
  );
}
.background__text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 10rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  overflow: hidden;
  color: white;
  opacity: 0.06;

  span {
    animation: slideleft 25s linear;
    animation-fill-mode: forwards;
  }
}
.background__wave {
  position: absolute;
  bottom: -0.3rem;
  left: 0;
}
.hero__content {
  position: relative;
  text-align: center;
  padding: 12rem 0 10rem;
  margin: 0 auto;
  max-width: 1024px;
}
.hero__label {
  position: relative;
  left: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  width: 18rem;
  animation: fadeleft 1s ease-in-out;
  margin-bottom: 3rem;
  margin-left: 2rem;

  div {
    background-color: white;
    height: 1px;
    width: 8rem;
  }
}
.hero__title {
  font-size: 6rem;
  line-height: 6rem;
  color: white;
  animation: faderight 1s ease-in-out;
  margin: 0 2rem;
  margin-bottom: 2rem;
  span {
    background: linear-gradient(to right, rgb(137, 224, 248), white);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
}

.hero__subtitle {
  color: white;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "merriweather-600";
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 4rem;
  opacity: 0;
  animation: fadeup 0.75s 1s ease-in-out forwards;
}

.hero__scroll {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.1rem;
  cursor: pointer;
  opacity: 0;
  animation: fadeup 0.75s 1.5s ease-in-out forwards;

  span {
    margin-bottom: 0.2rem;
  }

  svg {
    animation: bounce 2s ease infinite;
  }
}
.introduction__background {
  position: absolute;
  width: 100%;
  height: 100vh;

  .background__tile {
    top: -125px;
    left: 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(15%);
  }
  50% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(-7.5%) translateY(-7.5%) scale(0.75);
  }
}

@keyframes fadeleft {
  0% {
    opacity: 0;
    transform: translateX(32px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes faderight {
  0% {
    opacity: 0;
    transform: translateX(-32px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 950px) {
  .hero__background {
    height: 48rem;
  }
}
@media screen and (max-width: 650px) {
  .hero__title {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 530px) {
  .hero__title {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 544px) {
  .hero__title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
  }
  .hero__subtitle {
    font-size: 2rem;
    margin: 3rem 1rem;
  }
}
